.welcome {

  color: #7661fa;
  text-align: center;
  font-family: monospace;
  text-decoration-style: dotted;

}

.header {

  background: #6852ff;
  color: #cfcfcf;
  padding: 20px;
  text-align: left;
  font-size: 25px;

}

/* Removes margins and padding by default. Does not cancel out manual padding */

* {
  margin: 0px;
  padding: 0px;
}

/* The header around the list */

.navBar-ul {

font-family: monospace;
list-style-type: none;
overflow: hidden;
background-color: #6852ff;

}

/* Move the list to the left, and add borders to every link but the last child */

.navList {

  float: left;
  border-right: 3px solid white;
  border-radius: 15px;

}

.navList:last-child {

 border-right: none;

}

  /* Navigation bar buttons / links */

.navLinks {

  display: block;
  color: white;
  text-align: center;
  padding: 7px 170px;
  text-decoration: none;

}

.navLinks:hover {

  color: #73d5ff;

}
